u<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Education History</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-2024</h4>
                                    <h4 class="subheading">AMA COMPUTER COLLEGE - Tarlac</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Bachelor of Science in Computer Engineering</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2019</h4>
                                    <h4 class="subheading">DOMINICAN COLLEGE OF TARLAC</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Senior High School</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2017</h4>
                                    <h4 class="subheading">ASIAN PACIFIC CHRISTIAN SHOOL INC.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Junior High School</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007 - 2013</h4>
                                    <h4 class="subheading">CRISTO REY CENTRAL ELEMENTARY SCHOOL</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Elementary School</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>How 
                                    <br>It All
                                    <br>Began!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
